.box{
    text-align: center;
    background-color: #ccc;
    height: 100%;
    opacity: 0.98;
    background: url(../images/bg.jpg);
    background-size: cover;
    padding: 30px 0;
}

.box_h1{
    font-size: 30px;
}

